[Desktop Entry]
Type=Application
Name=Credential Manager
Comment=Manage generic credentials in an encrypted vault
Exec=aero7-credential-vault
Icon=aero7-credential-vault
Terminal=false
Categories=Settings;Security;
Keywords=password;credentials;vault;wallet;
StartupNotify=true
