[Unit]
Description=Aero7 notification server and history
StartLimitIntervalSec=30s
StartLimitBurst=5
After=graphical-session.target
PartOf=graphical-session.target

[Service]
Type=simple
ExecStart=/usr/bin/aero7-notify
Restart=on-failure
RestartSec=2s
TimeoutStopSec=5s

[Install]
WantedBy=graphical-session.target
