[Desktop Entry]
Type=Application
Name=Media Player
GenericName=Audio and video player
Comment=Browse your library and play audio and video with VLC
Exec=aero7-media-player %U
TryExec=aero7-media-player
Icon=aero7-media-player
Terminal=false
StartupNotify=true
Categories=AudioVideo;Audio;Video;Player;
MimeType=audio/mpeg;audio/mp4;audio/x-m4a;audio/x-wav;audio/flac;audio/ogg;audio/x-ms-wma;video/mp4;video/x-m4v;video/x-matroska;video/x-msvideo;video/x-ms-wmv;video/quicktime;
Keywords=media;player;music;video;movie;VLC;
