[Desktop Entry]
Name=File Explorer
GenericName=File Manager
Comment=Browse files, folders, drives, and network locations
Exec=aero7-file-explorer %U
Icon=org.kde.dolphin
Terminal=false
Type=Application
Categories=System;FileTools;FileManager;
MimeType=inode/directory;
StartupNotify=true
StartupWMClass=org.kde.dolphin
X-KDE-SubstituteUID=false
